.Container {
  position: fixed;
  width: 100%;
  height: 56px;

  background-color: white;
  border-bottom: 1px solid var(--gray-1);
}

.Wrapper {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  align-items: center;
  justify-content: space-between;
}

.BlackSemiBold20 {
  font-size: 20px;
  font-weight: var(--font-weight-semi-bold);
  color: black;

  line-height: 1;
}

.ImageShoppingBag {
  height: 24px;
}
.ImageShoppingBag:hover img {
  content: url("/images/header/icon-shopping-bag-filled.svg");
}

.ImageBell {
  height: 24px;
}
.ImageBell:hover img {
  content: url("/images/header/icon-bell-filled.svg");
}

.ImageUser {
  display: flex;
  align-items: center;
  gap: 3px;
}
.ImageUser:hover img {
  content: url("/images/header/icon-user-filled.svg");
}

.BlackRegular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1;
}
