.Container {
  width: 350px;
  padding: 16px;

  border-radius: 10px;
  background-color: var(--gray-1);
}

.BlackExtraLight20 {
  font-size: 20px;
  font-weight: var(--font-weight-extra-light);
  color: black;

  line-height: 1;
}

.Gray6Regular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-6);

  line-height: 1;
}

.BlackRegular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1;
}
