.Avatar {
  border-radius: 23px;
  background-color: var(--gray-1);
}

.EditerBox {
  width: 100%;
  min-height: 46px;
  padding: 10px 12px;

  border: 1px solid var(--gray-3);
  border-radius: 10px;
}

.RichTextEditorRoot {
  margin-top: 2px;
  border: none;
}

.RichTextEditorRoot p[data-placeholder] {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-6);

  line-height: 1.5;
}

.RichTextEditorRoot p {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1.5;
}

.EditButton {
  height: 36px;
  padding: 0px 10px;

  border-radius: 10px;
  background-color: var(--main);

  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: white;

  line-height: 1;
}
.EditButton:hover {
  background-color: var(--main-dark);
}

.CancelButton {
  height: 36px;
  padding: 0px 10px;

  border-radius: 10px;
  background-color: var(--gray-2);

  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-6);

  line-height: 1;
}
.CancelButton:hover {
  background-color: var(--gray-3);
}

.BlackRegular16 {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1;
}

.MainRegular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--main);

  line-height: 1;
}

.Gray5Regular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-5);

  line-height: 1;
}

.Typography p {
  font-size: 14px;
  line-height: 1.5;
}

.Button {
  display: flex;
  height: 26px;
  padding-left: 6px;
  padding-right: 10px;

  border: 1px solid var(--gray-3);
  border-radius: 10px;
  background-color: white;

  align-items: center;
}
.Button:hover {
  background-color: var(--light-gray);
}

.BlackRegular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1;
}

.MenuDropdown {
  padding: 2px;
  border: 1px solid var(--gray-3);
}
.MenuItem {
  padding: 6px 4px;
}
.MenuItem:hover {
  background-color: var(--light-gray);
}
