:root {
  /* Figma의 Color Styles */
  --main: #138bcf;
  --main-dark: #117ebb;
  --main-light: #44b1ee;

  --highlight: #f20d0d;

  --light-gray: #f7f7f7;
  --gray-1: #f2f2f2;
  --gray-2: #e6e6e6;
  --gray-3: #cccccc;
  --gray-4: #b3b3b3;
  --gray-5: #999999;
  --gray-6: #808080;
  --gray-7: #666666;
  --gray-8: #4d4d4d;
  --gray-9: #333333;

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}
