.Wrapper {
  width: 100%;
  padding: 80px 60px;
}

.BlackSemiBold20 {
  font-size: 20px;
  font-weight: var(--font-weight-semi-bold);
  color: black;

  line-height: 1;
}

.BlackRegular14 {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: black;

  line-height: 1;
}

.Button {
  height: 30px;

  border-color: var(--main);

  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: var(--main);

  line-height: 1;
}
.ButtonInner {
  padding: 0 10px;
  gap: 6px;
}
