.SubHeader {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.Container {
  position: sticky;
  width: 100%;
  height: 40px;

  top: 56px;

  background-color: var(--gray-9);

  z-index: 100;
}

.Wrapper {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  align-items: center;
  justify-content: space-between;
}

.WhiteExtraLight18 {
  font-size: 18px;
  font-weight: var(--font-weight-extra-light);
  color: white;

  line-height: 1;
}

.SBAggroMainBold18 {
  margin-top: 2px;
  font-family: "SBAggroB";
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--main);

  line-height: 1;
}

.TextInputSection {
  width: 32px;
  left: 0;
}
.TextInputInput {
  width: 200px;
  height: 32px;
  padding-left: 32px;
  padding-right: 6px;

  border: none;
  border-radius: 10px;

  background-color: var(--gray-7);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-2);
}
.TextInputInput::placeholder {
  color: var(--gray-4);
}

.MainSection {
  z-index: 99;
}
